*{
    margin: 0 auto; 
}

body{
    background-color: gray;
}

.tudo{
    font-family: Arial, Helvetica, sans-serif;
}

.linha{
    clear: both;
}

#cabecalho{
    background-color: #162e58;
    min-height: 100px;
    padding: 30px 50px 10px 50px;
    position: relative;
    width: calc(100% - 100px);
}

#h1titulocabecalho{
    color: #fff;
    text-align: left;
    width: 82%;
    font-size: 30px;
    float: left;
    
}

#divclassificacao{
    background-color: #fff;
    width: 60%;
}

 h3
{
    padding:8px 0px;
}
table, th, td{
    border-bottom: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 7px;
}

th{
    color: darkgray;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

td{
    font-size: 14px;
    text-align: center;
}

.tablejogos{
    width: 100%;
}

#divgoleadores{
    background-color: #fff;
    width: 60%;
}

#tablegoleadores{
    background-color: #fff;
    width: 100%;
}

#divjogos{
    background-color: #fff;
    width: 60%;
}

#tablejogos{
    width: 100%;
    text-align: center;
}

img{
    width: 20px;
    border-radius: 50%;
}

.thnomeclube{
    width: 50%;
    text-align: left;
}

.thultimascinco{
    width: 20%;
}
.tdimgclube{
    width: 5%;
}

.imgclube{
    width: 20px;
    height: 20px;
    text-align: left;
}

.tdnomeclube{
    width: 10%;
    text-align: left;
}

.divvit{
    background-image: url("../img/img/v.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: right;
    margin-right: 10px;
}

.divemp{
    background-image: url("../img/img/e.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: right;
    margin-right: 10px;
}   

.divderr{
    background-image: url("../img/img/d.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: right;
    margin-right: 10px;
}

.tdposicao{
    width: 1%;
    font-size: 14px;
}

.spannomeclube{
    color: darkgray;
    font-size: 12px;
}

.tdjogador{
    text-align: left;
    width: 100%;
}

.thjogador{
    text-align: left;
}

.tablejogo{
    width: 100%;
    text-align: left;
}

.tddatajogo{
    font-size: 12px;
    text-align: center;
}

.thtablejogo{
    text-align: left;
}

.tdclube{
    text-align: left;
    width: 80%;
}

.tdhorario{
    text-align: center;
    font-size: 10px;
}

.divmenu
{
    display: flex;
    align-items: center;
    position:absolute;
    bottom: 0;
    width: calc(58% - 100px);
    clear: both;
    text-align: center;
    padding-left: 21%;
    padding-right: 21%;
}

.itemmenu{
    float: left;
    color: #fff;
    text-align: center;
    width: 12%;
    height: 30px;
}

.itemmenu:hover{
    background-color: black;
}

a, a:link, a:hover, a:visited{
    text-decoration: none;
    color: #fff;
}

#imgUEFA{
    float: left;
    width: 130px;
    border-radius: 10%;
}